@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastre seu produto e seja MASTER!</h1>
    <p>
        Agora você, cliente, pode ser master!
        <br />
        Cliente BRONZE: Novo cliente;
        <br />
        Cliente PRATA: Clientes cadastrados com mais de 5 anos;
        <br />
        Cliente OURO: Clientes que possuírem a partir de 2.000 produtos cadastrados;
        <br />
        Cliente PLATINA: Clientes com mais de 5.000 produtos cadastrados;
        <br />
        Cliente DIAMANTE: Clientes com mais de 10.000 produtos.

    </p>
</div>
