@model Application.ViewModel.Product.ProductDeleteVM

@{
    ViewData["Title"] = "Deletar produto";
}

<h1>Deletar produto</h1>

<h3>Tem certeza que deseja deletar produto?</h3>
<div>
    <form asp-action="Delete">
        @Html.HiddenFor(e => e.ProductId)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para Produtos</a>
    </form>
</div>
